{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "plugins": ["react"],
  "extends": ["standard", "standard-react"],
  "globals": {
    "WebSocket": true,
    "requestAnimationFrame": true,
    "cancelAnimationFrame": true,
    "Image": true,
    "fetch": true
  },
  "rules": {
    "quotes": [ "error", "single", { "allowTemplateLiterals": true } ],
    "jsx-quotes": ["warn", "prefer-double"],
    "react/jsx-curly-newline": [ "off" ],
    "react/jsx-tag-spacing": [ "error", { "closingSlash": "never", "beforeSelfClosing": "always", "afterOpening": "never", "beforeClosing": "never" } ],
    "react/jsx-curly-brace-presence": [ "error", "never" ],
    "no-unused-vars": [ "error", { "varsIgnorePattern": "^_" } ],
    "indent": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-indent": "off",
    "react/jsx-closing-tag-location": "off"
  }
}
